.content-strategizing_Reviews{
    padding: 40px 0px ;
    width: 100%; 
    background-image: url('https://www.amzinventor.com/images/images-footer-bg.png'); /* Set the path to your image */
    background-size: cover; /* Adjust the background size as needed */
}
.content-strategizing{ 
    padding: 40px 0px ;
    width: 100%; 
    background-color: #FF9D1D;
    background-size: cover; 
}